@import '../../styles/variables.scss';

.backstory {
    background-color: $dark-grey;
}

.backstory__gallery-wrapper {
    margin-top: 7.5rem;
    border-radius: 8px;
    overflow: hidden;
    // animation: moveGallery 25s linear infinite;
}
.backstory__gallery {
    display: flex;
    flex-wrap: nowrap;
    width: calc((262px + 1rem) * 69);
    animation: moveGallery 180s linear 2s infinite;
    // border: 1px solid #fff;

    &:hover {
        animation-play-state: paused !important;
    }
}
.backstory__gallery-link {
    flex-shrink: 0;
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }
}
.backstory__nftpic {
    border: none !important;
}

@keyframes moveGallery {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(-100% + 270px));
    }
}
